<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
  <title>DWEB - FlaskMovies</title>
</head>
<body>
  <div class="hero-body">
    <div class="container">
      <div class="column is-4 is-offset-4">
        <div class="container is-max-desktop">
          <div class="card">
            <div class="card-content">
              <img src="{{ url_for('static', filename='images/logo.png') }}">
              <form action="{{ url_for('users.login') }}" method="POST">
                {{ form.csrf_token }}
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    {{ form.email(size=0, class_="input") }}
                  </div>
                </div>
                <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                    {{ form.password(size=0, class_="input") }}
                  </div>
                </div>
                <div class="control">
                  <a class="button" href="{{ url_for('users.signup') }}">Cadastrar</a>
                  <button class="button is-primary">Entrar</button>
                </div>    
              </form>
              {% if error %}
              <div class="notification is-danger">
                {{ error }}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>