{% extends 'core/base.html' %}

{% block hero %}
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ category.name }}
      </h1>
      <h2 class="subtitle">
        Veja os filmes da categoria <b>{{ category.name }}</b>
      </h2>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
  {% for movie in category.movies %}
  <button class="button is-light is-large"><a href="{{ url_for('movies.detail', movie_id=movie.id) }}">{{ movie.name }}</a></button>
  {% endfor %}
  <button class="button is-info is-light"><a href="{{ url_for('categories.formUpdate', category_id=category.id) }}">Editar</a></button>
{% endblock %}