{% extends 'core/base.html' %}

{% block hero %}
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Categorias
      </h1>
      <h2 class="subtitle">
        Informe o nome da nova categoria
      </h2>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
  {% if error %}
  <div class="notification is-danger">
    {{ error }}
  </div>
  {% endif %}

  <form action="{{ url_for('categories.formPost') }}" method="POST">
    {{ form.csrf_token }}
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        {{ form.name(size=20, class_="input") }}
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Salvar</button>
    </div>    
  </form>
{% endblock %}