{% extends 'core/base.html' %}

{% block hero %}
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Categorias
      </h1>
      <h2 class="subtitle">
        Escolha as categorias do filme
      </h2>
    </div>
  </div>
</section>
{% endblock %}
{% block content %}
  {% for category in categories %}
  <button class="button is-light is-large"><a href="{{ url_for('categories.detail', category_id=category.id) }}">{{ category.name }}</a></button>
  {% endfor %}
  <button class="button is-info is-light is-large"><a href="{{ url_for('categories.formGet') }}">Nova categoria</a></button>
{% endblock %}