{% extends 'core/base.html' %}

{% block hero %}
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Filmes
      </h1>
      <h2 class="subtitle">
        Escolha os filmes
      </h2>
    </div>
  </div>
</section>
{% endblock %}
{% block content %}
  {% for movie in movies %}
  <button class="button is-light is-large"><a href="{{ url_for('movies.detail', movie_id=movie.id) }}">{{ movie.name }}</a></button>
  {% endfor %}
  <button class="button is-info is-light is-large"><a href="{{ url_for('movies.formCreate') }}">Novo filme</a></button>
{% endblock %}